@import "../node_modules/antd/dist/antd.css";

* {
    font-size: 16px;
}

.App {
    padding: 24px;
}

ul,
ul > li {
    list-style: none;
}

li > h2 > *,
li > h3 > * {
    line-height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
}

.amount {
    display: inline-block;
    margin: 0 6px;
}

.dish-title{
    width: 400px;
}

button {
    margin: 6px 0;
}